In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
children = pd.read_csv("data/children.csv", index_col=0)
comics = pd.read_csv("data/comics.csv", index_col=0)
fantasy = pd.read_csv("data/fantasy.csv", index_col=0)
history = pd.read_csv("data/history.csv", index_col=0)
mystery = pd.read_csv("data/mystery.csv", index_col=0)
poetry = pd.read_csv("data/poetry.csv", index_col=0)
romance = pd.read_csv("data/romance.csv", index_col=0)
ya = pd.read_csv("data/ya.csv", index_col=0)

In [3]:
books = pd.concat([children, comics, fantasy, history, mystery, poetry, romance, ya])
books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,genre
1,1934876569,6,['151854'],US,NaN,"[{'count': '515', 'name': 'to-read'}, {'count'...",NaN,False,4.220,NaN,...,NaN,2009.000,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...,Children
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.430,B017RORXNI,...,NaN,1995.000,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven,Children
26,9715117414,12,[],US,fil,"[{'count': '553', 'name': 'to-read'}, {'count'...",NaN,False,4.330,NaN,...,NaN,2002.000,https://www.goodreads.com/book/show/13569478-s...,https://images.gr-assets.com/books/1366874735m...,13569478,248,19148714,Sandosenang Sapatos,Sandosenang Sapatos,Children
27,1442459611,47,[],US,NaN,"[{'count': '49', 'name': 'picture-books'}, {'c...",NaN,False,3.530,B008LVCOVI,...,NaN,2014.000,https://www.goodreads.com/book/show/16074814-j...,https://images.gr-assets.com/books/1375647296m...,16074814,249,21869823,Junkyard,Junkyard,Children
28,1419700251,890,['799654'],US,en-US,"[{'count': '10607', 'name': 'to-read'}, {'coun...",NaN,False,4.040,B006LGNU40,...,NaN,2011.000,https://www.goodreads.com/book/show/10806008-p...,https://images.gr-assets.com/books/1353594747m...,10806008,6049,15719446,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,Children

In [4]:
eng = [x for x in books.language_code.unique() if 'en' in str(x) and str(x) != 'ben'] + [np.nan]

In [5]:
books = books[books.language_code.isin(eng)]
books

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,genre
1,1934876569,6,['151854'],US,NaN,"[{'count': '515', 'name': 'to-read'}, {'count'...",NaN,False,4.220,NaN,...,NaN,2009.000,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,6066812,98,701117,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...,Children
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.430,B017RORXNI,...,NaN,1995.000,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven,Children
27,1442459611,47,[],US,NaN,"[{'count': '49', 'name': 'picture-books'}, {'c...",NaN,False,3.530,B008LVCOVI,...,NaN,2014.000,https://www.goodreads.com/book/show/16074814-j...,https://images.gr-assets.com/books/1375647296m...,16074814,249,21869823,Junkyard,Junkyard,Children
28,1419700251,890,['799654'],US,en-US,"[{'count': '10607', 'name': 'to-read'}, {'coun...",NaN,False,4.040,B006LGNU40,...,NaN,2011.000,https://www.goodreads.com/book/show/10806008-p...,https://images.gr-assets.com/books/1353594747m...,10806008,6049,15719446,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,Children
29,0312183046,11,['223342'],US,NaN,"[{'count': '141', 'name': 'to-read'}, {'count'...",NaN,False,3.930,B00Q20YF94,...,NaN,1998.000,https://www.goodreads.com/book/show/581162.Toa...,https://images.gr-assets.com/books/1312041624m...,581162,169,568055,Toad Triumphant,Toad Triumphant,Children
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49961,1599900424,103,[],US,en-US,"[{'count': '1903', 'name': 'to-read'}, {'count...",NaN,False,3.700,NaN,...,NaN,2008.000,https://www.goodreads.com/book/show/3695909-ev...,https://images.gr-assets.com/books/1312058762m...,3695909,1135,3739399,Everything Beautiful,Everything Beautiful,Young Adult
49965,0545695198,331,[],US,eng,"[{'count': '1802', 'name': 'to-read'}, {'count...",NaN,False,4.240,B00SZIBR7O,...,NaN,2015.000,https://www.goodreads.com/book/show/22608738-c...,https://images.gr-assets.com/books/1423502479m...,22608738,1476,42098783,Code of Honor,Code of Honor,Young Adult
49991,0062244078,233,[],US,NaN,"[{'count': '4809', 'name': 'to-read'}, {'count...",NaN,True,3.560,B008K4TDYM,...,NaN,2012.000,https://www.goodreads.com/book/show/15820679-s...,https://images.gr-assets.com/books/1351545194m...,15820679,1553,21549712,Stupid Perfect World,Stupid Perfect World,Young Adult
49992,NaN,41,['435909'],US,eng,"[{'count': '277066', 'name': 'to-read'}, {'cou...",NaN,False,4.100,NaN,...,Movie Tie-In Edition,2015.000,https://www.goodreads.com/book/show/28571485-t...,https://images.gr-assets.com/books/1452867184m...,28571485,231,19187812,"The 5th Wave (The 5th Wave, #1)","The 5th Wave (The 5th Wave, #1)",Young Adult
49997,0062098454,399,"['784152', '784431']",US,en-US,"[{'count': '2937', 'name': 'to-read'}, {'count...",NaN,False,3.590,B0089LOFXK,...,NaN,2013.000,https://www.goodreads.com/book/show/14811468-s...,https://images.gr-assets.com/books/1341338879m...,14811468,2270,20464900,Shards and Ashes,Shards and Ashes,Young Adult

In [6]:
interactions = pd.read_csv("goodreads_interactions.csv")
interactions

          user_id  book_id  is_read  rating  is_reviewed
0               0      948        1       5        0.000
1               0      947        1       5        1.000
2               0      946        1       5        0.000
3               0      945        1       5        0.000
4               0      944        1       5        0.000
...           ...      ...      ...     ...          ...
11887828    23248     1041        1       5        0.000
11887829    23248    56280        1       5        0.000
11887830    23248    15358        1       5        0.000
11887831    23248    97988        1       5        0.000
11887832    23248      400        1       5          NaN

[11887833 rows x 5 columns]

In [7]:
book_lst = books.book_id.unique()

interactions = interactions[interactions.book_id.isin(book_lst)]
interactions

          user_id  book_id  is_read  rating  is_reviewed
33              0      915        1       5        1.000
75              0      873        1       4        0.000
77              0      871        1       2        0.000
78              0      870        1       3        0.000
124             0      824        1       5        1.000
...           ...      ...      ...     ...          ...
11887703    23248    13588        1       5        0.000
11887728    23248    13580        1       5        0.000
11887732    23248   118389        1       5        0.000
11887777    23248    56730        1       5        0.000
11887805    23248     7433        1       5        0.000

[511718 rows x 5 columns]

In [8]:
interactions = interactions[(interactions['is_read'] != 0) & (interactions['rating'] != 0)]
interactions

          user_id  book_id  is_read  rating  is_reviewed
33              0      915        1       5        1.000
75              0      873        1       4        0.000
77              0      871        1       2        0.000
78              0      870        1       3        0.000
124             0      824        1       5        1.000
...           ...      ...      ...     ...          ...
11887703    23248    13588        1       5        0.000
11887728    23248    13580        1       5        0.000
11887732    23248   118389        1       5        0.000
11887777    23248    56730        1       5        0.000
11887805    23248     7433        1       5        0.000

[243911 rows x 5 columns]

In [9]:
# interactions.groupby('user_id').count()
interactions['user_count'] = interactions.groupby('user_id')['user_id'].transform('count')
interactions.describe()

/home/cliodhna/miniconda3/envs/JupyterBook/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         user_id     book_id    is_read     rating  is_reviewed  user_count
count 243911.000  243911.000 243911.000 243911.000   243911.000  243911.000
mean   11525.686   72357.726      1.000      3.948        0.138      25.043
std     6735.113  145192.293      0.000      0.971        0.345      25.440
min        0.000     228.000      1.000      1.000        0.000       1.000
25%     5652.500    6536.000      1.000      3.000        0.000       9.000
50%    11557.000   17904.000      1.000      4.000        0.000      17.000
75%    17336.000   62765.000      1.000      5.000        0.000      32.000
max    23248.000 1105806.000      1.000      5.000        1.000     250.000

In [10]:
interactions = interactions[interactions['user_count'] > 6]
interactions

          user_id  book_id  is_read  rating  is_reviewed  user_count
33              0      915        1       5        1.000          17
75              0      873        1       4        0.000          17
77              0      871        1       2        0.000          17
78              0      870        1       3        0.000          17
124             0      824        1       5        1.000          17
...           ...      ...      ...     ...          ...         ...
11887703    23248    13588        1       5        0.000          17
11887728    23248    13580        1       5        0.000          17
11887732    23248   118389        1       5        0.000          17
11887777    23248    56730        1       5        0.000          17
11887805    23248     7433        1       5        0.000          17

[207141 rows x 6 columns]

In [11]:
int_list = interactions.book_id.unique()
books = books[books.book_id.isin(int_list)]
books

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,genre
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.430,B017RORXNI,...,NaN,1995.000,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven,Children
29,0312183046,11,['223342'],US,NaN,"[{'count': '141', 'name': 'to-read'}, {'count'...",NaN,False,3.930,B00Q20YF94,...,NaN,1998.000,https://www.goodreads.com/book/show/581162.Toa...,https://images.gr-assets.com/books/1312041624m...,581162,169,568055,Toad Triumphant,Toad Triumphant,Children
58,0698114272,65,[],US,NaN,"[{'count': '90', 'name': 'to-read'}, {'count':...",NaN,False,3.950,NaN,...,NaN,1997.000,https://www.goodreads.com/book/show/38565.Boot...,https://s.gr-assets.com/assets/nophoto/book/11...,38565,299,38327,Bootsie Barker Bites,Bootsie Barker Bites,Children
64,1561451088,46,[],US,NaN,"[{'count': '36', 'name': 'to-read'}, {'count':...",NaN,False,3.860,NaN,...,NaN,2003.000,https://www.goodreads.com/book/show/785553.If_...,https://s.gr-assets.com/assets/nophoto/book/11...,785553,177,771551,If You See a Kitten,If You See a Kitten,Children
98,0152056580,76,[],US,NaN,"[{'count': '72', 'name': 'to-read'}, {'count':...",NaN,False,4.110,NaN,...,NaN,2005.000,https://www.goodreads.com/book/show/1038901.Co...,https://s.gr-assets.com/assets/nophoto/book/11...,1038901,329,2933269,Cook-a-Doodle-Doo!,Cook-a-Doodle-Doo!,Children
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49558,0385327935,18,['160541'],US,NaN,"[{'count': '2726', 'name': 'to-read'}, {'count...",NaN,False,4.030,B000FC1KDY,...,NaN,2001.000,https://www.goodreads.com/book/show/844206.Sha...,https://s.gr-assets.com/assets/nophoto/book/11...,844206,244,2072443,"Shattered Mirror (Den of Shadows, #3)","Shattered Mirror (Den of Shadows, #3)",Young Adult
49783,0375843205,119,[],US,NaN,"[{'count': '1282', 'name': 'to-read'}, {'count...",NaN,False,3.490,B000W915QM,...,NaN,2007.000,https://www.goodreads.com/book/show/754333.Red...,https://s.gr-assets.com/assets/nophoto/book/11...,754333,619,3227218,Red Spikes,Red Spikes,Young Adult
49806,0867166770,25,[],US,NaN,"[{'count': '197', 'name': 'to-read'}, {'count'...",NaN,False,3.870,B004HFS416,...,NaN,2006.000,https://www.goodreads.com/book/show/251235.Ble...,https://s.gr-assets.com/assets/nophoto/book/11...,251235,184,243451,Blessed Are the Bored in Spirit: A Young Catho...,Blessed Are the Bored in Spirit: A Young Catho...,Young Adult
49869,0553562282,7,['246448'],US,NaN,"[{'count': '176', 'name': 'to-read'}, {'count'...",NaN,False,3.490,B01B5BRBJA,...,NaN,1994.000,https://www.goodreads.com/book/show/412262.A_D...,https://images.gr-assets.com/books/1308478826m...,412262,258,401504,"A Date with a Werewolf (Sweet Valley High, #105)","A Date with a Werewolf (Sweet Valley High, #105)",Young Adult
49887,0425164160,17,"['182467', '432615']",US,NaN,"[{'count': '563', 'name': 'to-read'}, {'count'...",NaN,False,3.540,NaN,...,NaN,1998.000,https://www.goodreads.com/book/show/250027.Tro...,https://s.gr-assets.com/assets/nophoto/book/11...,250027,1362,242274,Trouble on Cloud City (Star Wars: Young Jedi K...,Trouble on Cloud City (Star Wars: Young Jedi K...,Young Adult

In [12]:
books = books[books['ratings_count'] > 200]
books

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,genre
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.430,B017RORXNI,...,NaN,1995.000,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven,Children
58,0698114272,65,[],US,NaN,"[{'count': '90', 'name': 'to-read'}, {'count':...",NaN,False,3.950,NaN,...,NaN,1997.000,https://www.goodreads.com/book/show/38565.Boot...,https://s.gr-assets.com/assets/nophoto/book/11...,38565,299,38327,Bootsie Barker Bites,Bootsie Barker Bites,Children
98,0152056580,76,[],US,NaN,"[{'count': '72', 'name': 'to-read'}, {'count':...",NaN,False,4.110,NaN,...,NaN,2005.000,https://www.goodreads.com/book/show/1038901.Co...,https://s.gr-assets.com/assets/nophoto/book/11...,1038901,329,2933269,Cook-a-Doodle-Doo!,Cook-a-Doodle-Doo!,Children
106,0763615765,181,[],US,en-US,"[{'count': '1110', 'name': 'to-read'}, {'count...",NaN,False,4.080,NaN,...,NaN,2001.000,https://www.goodreads.com/book/show/821430.Hug,https://s.gr-assets.com/assets/nophoto/book/11...,821430,4505,885037,Hug,Hug,Children
109,0142407437,140,[],US,NaN,"[{'count': '267', 'name': 'to-read'}, {'count'...",NaN,False,4.390,NaN,...,NaN,2007.000,https://www.goodreads.com/book/show/248169.Our...,https://s.gr-assets.com/assets/nophoto/book/11...,248169,624,240460,Our Tree Named Steve,Our Tree Named Steve,Children
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49543,0552551643,50,[],US,eng,"[{'count': '860', 'name': 'to-read'}, {'count'...",NaN,False,3.770,NaN,...,NaN,2004.000,https://www.goodreads.com/book/show/369967.Hacker,https://images.gr-assets.com/books/1320496916m...,369967,1320,1865600,Hacker,Hacker,Young Adult
49558,0385327935,18,['160541'],US,NaN,"[{'count': '2726', 'name': 'to-read'}, {'count...",NaN,False,4.030,B000FC1KDY,...,NaN,2001.000,https://www.goodreads.com/book/show/844206.Sha...,https://s.gr-assets.com/assets/nophoto/book/11...,844206,244,2072443,"Shattered Mirror (Den of Shadows, #3)","Shattered Mirror (Den of Shadows, #3)",Young Adult
49783,0375843205,119,[],US,NaN,"[{'count': '1282', 'name': 'to-read'}, {'count...",NaN,False,3.490,B000W915QM,...,NaN,2007.000,https://www.goodreads.com/book/show/754333.Red...,https://s.gr-assets.com/assets/nophoto/book/11...,754333,619,3227218,Red Spikes,Red Spikes,Young Adult
49869,0553562282,7,['246448'],US,NaN,"[{'count': '176', 'name': 'to-read'}, {'count'...",NaN,False,3.490,B01B5BRBJA,...,NaN,1994.000,https://www.goodreads.com/book/show/412262.A_D...,https://images.gr-assets.com/books/1308478826m...,412262,258,401504,"A Date with a Werewolf (Sweet Valley High, #105)","A Date with a Werewolf (Sweet Valley High, #105)",Young Adult
49887,0425164160,17,"['182467', '432615']",US,NaN,"[{'count': '563', 'name': 'to-read'}, {'count'...",NaN,False,3.540,NaN,...,NaN,1998.000,https://www.goodreads.com/book/show/250027.Tro...,https://s.gr-assets.com/assets/nophoto/book/11...,250027,1362,242274,Trouble on Cloud City (Star Wars: Young Jedi K...,Trouble on Cloud City (Star Wars: Young Jedi K...,Young Adult

In [13]:
books.reset_index(inplace=True, drop=True)
interactions.reset_index(inplace=True, drop=True)

In [14]:
interactions.to_csv('data/interactions.csv', index=False)
books.to_csv('data/books.csv', index=False)