In [62]:
import pandas as pd
import numpy as np

# ! pip install pyspark
from pyspark.ml.evaluation import RegressionEvaluator, MulticlassClassificationEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql.functions import explode, col, round, abs, when
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, TrainValidationSplit
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Book Rec System") \
    .getOrCreate()

21/12/10 12:48:51 WARN Utils: Your hostname, cliodhna-Lenovo-ideapad-530S-14IKB resolves to a loopback address: 127.0.1.1; using 192.168.0.37 instead (on interface wlp1s0)
21/12/10 12:48:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/10 12:48:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Reading Datasets

In [42]:
interactions = spark.read.csv("data/interactions.csv", sep=',', header=True)

In [43]:
interactions = interactions.withColumn("user_id",interactions["user_id"].cast("int"))
interactions = interactions.withColumn("rating",interactions["rating"].cast("int"))
interactions = interactions.withColumn("book_id",interactions["book_id"].cast("int"))
# interactions = interactions.dropDuplicates(["book_id"])

In [44]:
interactions.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- book_id: integer (nullable = true)
 |-- is_read: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- is_reviewed: string (nullable = true)
 |-- user_count: string (nullable = true)

In [45]:
interactions.show(n=5)

+-------+-------+-------+------+-----------+----------+
|user_id|book_id|is_read|rating|is_reviewed|user_count|
+-------+-------+-------+------+-----------+----------+
|      0|    915|      1|     5|        1.0|        15|
|      0|    873|      1|     4|        0.0|        15|
|      0|    871|      1|     2|        0.0|        15|
|      0|    870|      1|     3|        0.0|        15|
|      0|    824|      1|     5|        1.0|        15|
+-------+-------+-------+------+-----------+----------+
only showing top 5 rows

In [38]:
books = spark.read.csv("data/books.csv", sep=',', header=True)

In [39]:
cols = ("isbn","is_ebook","kindle_asin", "country_code", "language_code", "asin","description", "format", "link", "publication_day", "isbn13",
        "publication_month", "edition_information", "url", "image_url", "work_id", "text_reviews_count", "title_without_series")

books = books.drop(*cols)
books.show(5)
books = books.select("book_id","title","genre","authors","publisher", "average_rating", "publication_year", "popular_shelves", "similar_books", "ratings_count")
books = books.dropDuplicates(["book_id"])

+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+---------+----------------+-------+-------------+----------+--------+
|              series|     popular_shelves|average_rating|       similar_books|             authors|           publisher|num_pages|publication_year|book_id|ratings_count|     title|   genre|
+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+---------+----------------+-------+-------------+----------+--------+
|                  []|[{'count': '450',...|          4.43|['834493', '45218...|[{'author_id': '5...|      Blue Sky Press|     40.0|          1995.0|  89378|         1331|Dog Heaven|Children|
|                  []|[{'count': '90', ...|          3.95|['886410', '19743...|                null|                null|     null|            null|   null|         null|      null|    null|
|                null|                null|          null|                null|                null|                null|     null|            null|   null|         null|      null|    null|
|                null|                null|          null|                null|                null|                null|     null|            null|   null|         null|      null|    null|
| perfectly expres...|https://www.goodr...|          32.0|       9780698114272|https://www.goodr...|https://s.gr-asse...|    38565|        Children|   null|         null|      null|    null|
+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+---------+----------------+-------+-------------+----------+--------+
only showing top 5 rows

In [32]:
books.show(4)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
|             book_id|               title|               genre|             authors|           publisher|average_rating|    publication_year|     popular_shelves|       similar_books|       ratings_count|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
| "" but his image...|[{'author_id': '1...|               784.0|   wild anachronisms| hallucinatory ha...|          4.12|              photos|[{'count': '522',...|['855422', '84351...|           Paperback|
|        Edwin Torres|                null|                null|          Bob Holman| Christian X. Hunter|    Kathy Ebel|        Hal Sirowitz|          Todd Colby|      Janice Erlbaum|           Emily XYZ|
|            U Tam'si|             Waldman|    the Vienna Group|            Rukeyser|               Jabes|          4.46|            Ginsberg|[{'count': '107',...|['459', '418201',...|              Baraka|
| and ""stories in...| the strands of t...|https://www.goodr...| giving drink to ...| food to the fami...|           3.8| but also his own...|[{'count': '311',...|['1331638', '7158...| including his un...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
only showing top 4 rows

# Training ALS with Cross Validation

In [98]:
(training, test) = interactions.randomSplit([0.8, 0.2])

# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="user_id", itemCol="book_id", ratingCol="rating",
          coldStartStrategy="drop", nonnegative = True, implicitPrefs = False)
model = als.fit(training)

In [99]:
param_grid = ParamGridBuilder() \
 .addGrid(als.rank, [10, 50, 75, 100]) \
 .addGrid(als.maxIter, [5, 50, 75, 100]) \
 .addGrid(als.regParam, [.01, .05, .1, .15]) \
 .build()

evaluator = RegressionEvaluator(metricName = "rmse", 
 labelCol = "rating", 
 predictionCol = "prediction")

print ("Num models to be tested using param_grid: ", len(param_grid))

Num models to be tested using param_grid:  64

In [100]:
cv = CrossValidator(estimator = als, 
 estimatorParamMaps = param_grid, 
 evaluator = evaluator, 
 numFolds = 5)

model = als.fit(training)
predictions = model.transform(test)

predictions.show(n = 10)

+-------+-------+-------+------+-----------+----------+----------+
|user_id|book_id|is_read|rating|is_reviewed|user_count|prediction|
+-------+-------+-------+------+-----------+----------+----------+
|    471|   1387|      1|     3|        0.0|        19| 3.0971603|
|    471|  14706|      1|     5|        0.0|        19|  3.692721|
|    471|  28726|      1|     5|        0.0|        19| 1.7009088|
|    496|  20396|      1|     5|        0.0|        11|  3.764448|
|    496|  60220|      1|     4|        0.0|        11| 3.5646281|
|    833|   1434|      1|     1|        0.0|         7| 2.0837808|
|    833|  60834|      1|     4|        0.0|         7| 2.1608448|
|   1238|    586|      1|     3|        0.0|        26|  4.651348|
|   1238|   5402|      1|     5|        0.0|        26|  3.722077|
|   1238|   6687|      1|     5|        0.0|        26|  6.006633|
+-------+-------+-------+------+-----------+----------+----------+
only showing top 10 rows

In [101]:
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.6296875119269387

# Rounding Predictions

In [103]:
predictions = predictions.withColumn("rounded_prediction", round(col("prediction"), 0))
predictions = predictions.withColumn("rounded_prediction",predictions["rounded_prediction"].cast("int"))

In [105]:
new_pred = predictions.drop(col("prediction"))

new_pred = new_pred.withColumnRenamed("rounded_prediction", "prediction")
new_pred = new_pred.withColumn("prediction", when(new_pred["prediction"] > 5, 5).otherwise(new_pred['prediction']).alias("prediction"))

new_pred.show(n=10)

+-------+-------+-------+------+-----------+----------+----------+
|user_id|book_id|is_read|rating|is_reviewed|user_count|prediction|
+-------+-------+-------+------+-----------+----------+----------+
|    471|   1387|      1|     3|        0.0|        19|         3|
|    471|  14706|      1|     5|        0.0|        19|         4|
|    471|  28726|      1|     5|        0.0|        19|         2|
|    496|  20396|      1|     5|        0.0|        11|         4|
|    496|  60220|      1|     4|        0.0|        11|         4|
|    833|   1434|      1|     1|        0.0|         7|         2|
|    833|  60834|      1|     4|        0.0|         7|         2|
|   1238|    586|      1|     3|        0.0|        26|         5|
|   1238|   5402|      1|     5|        0.0|        26|         4|
|   1238|   6687|      1|     5|        0.0|        26|         5|
+-------+-------+-------+------+-----------+----------+----------+
only showing top 10 rows

In [107]:
rmse = evaluator.evaluate(new_pred)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.279026391771162

In [106]:
new_pred = new_pred.withColumn("prediction",new_pred["prediction"].cast("double"))

eval_accuracy = MulticlassClassificationEvaluator(labelCol="rating", predictionCol="prediction", metricName="accuracy")
eval_precision = MulticlassClassificationEvaluator(labelCol="rating", predictionCol="prediction", metricName="precisionByLabel")
eval_recall = MulticlassClassificationEvaluator(labelCol="rating", predictionCol="prediction", metricName="recallByLabel")
eval_f1 = MulticlassClassificationEvaluator(labelCol="rating", predictionCol="prediction", metricName="f1")

accuracy = eval_accuracy.evaluate(new_pred)
# precision = eval_precision.evaluate(new_pred)
# recall = eval_recall.evaluate(new_pred)
# f1score = eval_f1.evaluate(new_pred)
accuracy

0.34344425902293774

# Recommendations

In [18]:
userRecs = model.recommendForAllUsers(10)
bookRecs = model.recommendForAllItems(5)

/home/cliodhna/miniconda3/envs/JupyterBook/lib/python3.7/site-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [19]:
bookRecs.show(5, False)

+-------+--------------------------------------------------------------------------------------------------+
|book_id|recommendations                                                                                   |
+-------+--------------------------------------------------------------------------------------------------+
|236    |[{7115, 7.9971437}, {137, 7.3445115}, {16429, 6.667948}, {341, 6.522622}, {128, 6.5151815}]       |
|1068   |[{10344, 7.718821}, {552, 7.561115}, {1813, 7.0963063}, {9178, 7.01012}, {971, 6.8828287}]        |
|1226   |[{3132, 7.3775134}, {6814, 6.982759}, {4796, 6.948283}, {1269, 6.5885906}, {15352, 6.291789}]     |
|1265   |[{3132, 9.6307}, {4796, 8.80101}, {16863, 8.458717}, {15703, 8.347777}, {10462, 7.99389}]         |
|1363   |[{552, 12.575844}, {16863, 11.4340725}, {10683, 11.297866}, {1292, 11.236174}, {16720, 11.196016}]|
+-------+--------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [20]:
userRecs.show(5, False)

+-------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user_id|recommendations                                                                                                                                                                                                |
+-------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|26     |[{553387, 14.715152}, {816582, 14.715152}, {816581, 14.715152}, {116511, 14.715152}, {864757, 13.87485}, {864758, 13.87485}, {258334, 13.384239}, {144350, 12.89467}, {377891, 12.761853}, {43488, 12.75015}]  |
|28     |[{15245, 7.530599}, {397183, 7.4533806}, {229575, 7.4522176}, {43536, 7.3541775}, {43747, 7.241123}, {116511, 7.131547}, {816582, 7.131547}, {553387, 7.131547}, {816581, 7.131547}, {360150, 7.083827}]       |
|31     |[{397182, 17.480865}, {397183, 15.768839}, {43738, 12.667223}, {232035, 12.397536}, {12144, 12.183282}, {490973, 11.892536}, {258334, 11.881894}, {864758, 11.756601}, {864757, 11.756601}, {320845, 11.18874}]|
|34     |[{397182, 19.055439}, {397183, 16.872574}, {70953, 15.625191}, {49566, 15.588598}, {272320, 15.021772}, {292046, 14.710904}, {38969, 14.484681}, {43666, 14.34849}, {292386, 13.732887}, {292047, 13.732887}]  |
|44     |[{397182, 12.4402485}, {397183, 11.115492}, {49566, 9.024681}, {360150, 8.801603}, {70953, 8.489746}, {70490, 7.9712276}, {72771, 7.771709}, {292046, 7.729995}, {115725, 7.703038}, {272320, 7.550004}]       |
+-------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

# Making score column in pandas

In [210]:
user_recs = model.recommendForAllUsers(100)

/home/cliodhna/miniconda3/envs/JupyterBook/lib/python3.7/site-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [211]:
df = user_recs.toPandas()
df

      user_id                                    recommendations
0          26  [(864386, 17.755340576171875), (864758, 17.755...
1          28  [(397183, 10.6409330368042), (125232, 9.860329...
2          31  [(816581, 13.870176315307617), (816582, 13.870...
3          34  [(492565, 17.5319766998291), (432016, 16.87717...
4          44  [(688081, 11.493675231933594), (125232, 10.683...
...       ...                                                ...
9917    22982  [(43747, 21.323205947875977), (124740, 19.1596...
9918    23098  [(212936, 20.873018264770508), (397183, 20.474...
9919    23161  [(43747, 12.351412773132324), (183220, 11.7844...
9920    23181  [(397183, 9.964000701904297), (43747, 9.156210...
9921    23187  [(432016, 19.84044075012207), (60263, 19.13101...

[9922 rows x 2 columns]

In [212]:
df = df.assign(recommendations=list(df.recommendations)).explode('recommendations')

lst = [(x[0], x[1]) for x in df.recommendations]
df[['book_id', 'value']] = lst

In [213]:
max_values = df.groupby(['user_id'], sort=False)['value'].max()
df = df.merge(max_values, how='left', left_on='user_id', right_index=True)
df.columns = ['user_id', 'recommendations', 'book_id', 'value', 'max']
df['score'] = df['value'] / df['max']

In [214]:
df

,user_id,recommendations,book_id,value,max,score
0,26,"(864386, 17.755340576171875)",864386.0,17.755341,17.755341,1.000000
0,26,"(864758, 17.755340576171875)",864758.0,17.755341,17.755341,1.000000
0,26,"(864757, 17.755340576171875)",864757.0,17.755341,17.755341,1.000000
0,26,"(432016, 15.268040657043457)",432016.0,15.268041,17.755341,0.859913
0,26,"(492565, 14.56356143951416)",492565.0,14.563561,17.755341,0.820236
...,...,...,...,...,...,...
9921,23187,"(45684, 12.045822143554688)",45684.0,12.045822,19.840441,0.607135
9921,23187,"(38969, 12.024578094482422)",38969.0,12.024578,19.840441,0.606064
9921,23187,"(127722, 12.022064208984375)",127722.0,12.022064,19.840441,0.605937
9921,23187,"(13083, 12.01167106628418)",13083.0,12.011671,19.840441,0.605414
9921,23187,"(15650, 12.010590553283691)",15650.0,12.010591,19.840441,0.605359

# Exploring recommendations

In [21]:
top_users = interactions.groupBy(interactions['user_id']).agg({'rating':"count"}).sort("count(rating)", ascending=False).dropna().limit(10)

In [22]:
top_users.show()

+-------+-------------+
|user_id|count(rating)|
+-------+-------------+
|   9880|          195|
|   6678|          150|
|  15833|          148|
|  18539|          143|
|  19445|          132|
|   7261|          131|
|  14864|          129|
|  16279|          118|
|  17077|          115|
|   9217|          115|
+-------+-------------+

In [23]:
top_user_list = [row.user_id for row in top_users.select('user_id').collect()]

In [203]:
d = {}
for user in top_user_list:
    rec = userRecs.where(userRecs.user_id == user).select("recommendations").collect()
    d[user] = [i.book_id for i in rec[0]["recommendations"]]
d.keys()

dict_keys([9880, 6678, 15833, 18539, 19445, 7261, 14864, 16279, 17077, 9217])

In [206]:
rec_1 = books.filter(books["book_id"].isin(d[7261]))

In [207]:
rec_1.show()

+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+
|book_id|               title|            genre|             authors|         publisher|average_rating|publication_year|     popular_shelves|       similar_books|ratings_count|
+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+
| 816582|If I Had You (de ...|History/Biography|[{'author_id': '1...|Berkley Publishing|           4.2|          2000.0|[{'count': '649',...|['50742', '121591...|         1914|
| 864758|Knocked Out by My...|      Young Adult|[{'author_id': '6...|    Harper Collins|          3.97|          2006.0|[{'count': '6704'...|['405838', '51618...|          957|
| 864757|'... then he ate ...|      Young Adult|[{'author_id': '6...|              null|          4.09|            null|[{'count': '2007'...|['8013391', '9152...|          282|
| 126284|      Yoga Tradition|History/Biography|[{'author_id': '7...|        Hohm Press|          4.11|          2001.0|[{'count': '746',...|['810280', '19951...|          364|
| 397183|Decisions (Sweet ...|      Young Adult|[{'author_id': '2...|      Bantam Books|          3.37|          1988.0|[{'count': '220',...|['1044854', '8504...|          440|
+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+

Young adult and history/biography. The user has read a lot of history/biography but not much young adult so thats a bit of a strange recommendation.

In [229]:
user1_books = [x[0] for x in interactions.filter(interactions.user_id == 7261).select('book_id').collect()]
user1 = books.filter(books["book_id"].isin(user1_books))
user1.show(100)

+-------+--------------------+-----------------+--------------------+--------------------+--------------+----------------+--------------------+--------------------+-------------+
|book_id|               title|            genre|             authors|           publisher|average_rating|publication_year|     popular_shelves|       similar_books|ratings_count|
+-------+--------------------+-----------------+--------------------+--------------------+--------------+----------------+--------------------+--------------------+-------------+
| 118222|The Corpse in Ooz...|          Mystery|[{'author_id': '6...|The Mysterious Press|          3.76|          1988.0|[{'count': '149',...|['673410', '86058...|          453|
| 128605|Chester Cricket's...|         Children|[{'author_id': '1...|            Yearling|           3.7|          1984.0|[{'count': '149',...|['460620', '10460...|          266|
|  12937|See You Around, S...|         Children|[{'author_id': '2...|            Yearling|          3.66|          1998.0|[{'count': '155',...|['251240', '37113...|          228|
|   3399| Birds Without Wings|History/Biography|[{'author_id': '2...|             Vintage|          4.16|          2005.0|[{'count': '9595'...|['256754', '14339...|         7714|
|    586|Art of Modern Roc...|           Comics|[{'author_id': '3...|     Chronicle Books|          4.11|          2004.0|[{'count': '722',...|['257999', '67124...|         1086|
|  65977|Dykes to Watch Ou...|           Comics|[{'author_id': '2...|     Firebrand Books|          4.16|          1986.0|[{'count': '2740'...|['277741', '87818...|         2299|
|  77730|Weirdos from Anot...|           Comics|[{'author_id': '1...|Andrews McMeel Pu...|          4.71|          1990.0|[{'count': '575',...|['899856', '52096...|         9441|
|    870|Fullmetal Alchemi...|           Comics|[{'author_id': '4...|       VIZ Media LLC|          4.49|          2005.0|[{'count': '3926'...|['2882', '13577',...|        95704|
|  18742|The Melancholy De...|           Poetry|[{'author_id': '5...|            It Books|          4.13|          2008.0|[{'count': '12422...|['205981', '19326...|          706|
| 196757|Can't You Make Th...|         Children|[{'author_id': '2...|        Puffin Books|          3.89|          1996.0|[{'count': '344',...|['89963', '6471',...|          465|
|  20184| Sins of the Fathers|          Mystery|[{'author_id': '1...|Zondervan Publish...|          3.82|          2005.0|[{'count': '338',...|['4286101', '5986...|          399|
|  21436|Cat and Mouse (Al...|          Mystery|[{'author_id': '3...|      Hachette Audio|          3.96|          2007.0|[{'count': '6017'...|['37302', '105425...|        45775|
|  22424|Transmetropolitan...|           Comics|[{'author_id': '1...|             Vertigo|          4.51|          2004.0|[{'count': '1362'...|['22406', '102955...|         9233|
|  24307|The Pen Is Mighti...|         Children|[{'author_id': '1...|Scholastic Paperb...|          3.96|          2001.0|[{'count': '19', ...|['549455', '457424']|         1036|
|  28564|Bloody River Blue...|          Mystery|[{'author_id': '5...|        Pocket Books|          3.39|          2000.0|[{'count': '31', ...|           ['28562']|          804|
|  39030|Reliquary (Pender...|          Mystery|[{'author_id': '1...|           Tor Books|          4.01|          2005.0|[{'count': '494',...|['18416', '98807'...|        27799|
|  41697|Cyclops (Dirk Pit...|          Mystery|[{'author_id': '1...|        Pocket Books|          3.85|          1986.0|[{'count': '1513'...|['28207', '784083...|        10530|
| 646460|Claudia's Friend ...|         Children|[{'author_id': '2...|          Scholastic|           3.6|          1993.0|[{'count': '272',...| ['33282', '664147']|          649|
|  77727|   Calvin and Hobbes|           Comics|[{'author_id': '1...|                null|          4.61|          1987.0|[{'count': '29881...|['109648', '13303...|       120371|
| 128518|The Second Jungle...|         Children|[{'author_id': '6...|           Doubleday|          3.82|          2006.0|[{'count': '385',...|['6088378', '2485...|         1695|
|  16298|A Murder Is Annou...|          Mystery|[{'author_id': '1...|Black Dog & Leven...|          3.96|          2006.0|[{'count': '1694'...|['93575', '280849...|        26502|
|  29954|The Return of Merlin|          Fantasy|[{'author_id': '1...|Random House Valu...|          3.61|          1997.0|[{'count': '701',...|['195822', '48004...|          930|
| 370804|    طرحی از یک زندگی|History/Biography|[{'author_id': '2...|                null|          3.35|          2007.0|[{'count': '104',...|['1380374', '5219...|          245|
|  38154|     Orlando Furioso|           Poetry|[{'author_id': '2...|Oxford University...|          3.99|          1999.0|[{'count': '126',...|['875623', '75648...|         1965|
| 123210|The Young Black S...|         Children|[{'author_id': '1...|Random House Book...|          3.96|          2003.0|[{'count': '979',...|         ['1124458']|         2416|
|  14063|The Legend of the...|         Children|[{'author_id': '8...|        Puffin Books|          4.18|          1997.0|[{'count': '533',...|['835016', '87507...|         1909|
| 146767|  Letters to Wendy's|           Poetry|[{'author_id': '8...|          Wave Books|          4.06|          2004.0|[{'count': '519',...|['493359', '10911...|          852|
|  14707|     Faust, Part Two|           Poetry|[{'author_id': '2...|Oxford University...|          3.72|          1999.0|[{'count': '2808'...|['1330175', '3302...|         2917|
|  14812|The Sword of Ange...|          Fantasy|[{'author_id': '9...|                null|          3.88|            null|[{'count': '585',...|['618146', '13762...|          769|
| 213916|Evidence Not Seen...|History/Biography|[{'author_id': '1...|           HarperOne|          4.51|          2003.0|[{'count': '683',...|['152838', '35833...|         3581|
|  23300|The Door to Time ...|         Children|[{'author_id': '4...|     Scholastic Inc.|          3.91|          2006.0|[{'count': '224',...|['7679224', '6322...|         2598|
|  25673|         City of God|History/Biography|[{'author_id': '6...|   Penguin Books Ltd|          3.89|          2003.0|[{'count': '3944'...|['354007', '25711...|         7216|
| 257153|Finder, Volume 3:...|           Comics|[{'author_id': '1...|        Be Beautiful|          4.43|          2007.0|[{'count': '456',...|['8315979', '2410...|         1449|
| 339054|Who Was Ferdinand...|History/Biography|[{'author_id': '3...|    Grosset & Dunlap|          4.09|          2004.0|[{'count': '233',...|['901282', '40784...|          236|
|   6537|From Potter's Fie...|          Mystery|[{'author_id': '1...|                null|          4.02|            null|[{'count': '1795'...|['128755', '17291...|        42004|
|   8129|L.M. Montgomery's...|         Children|[{'author_id': '3...|    Grosset & Dunlap|          4.58|          2001.0|[{'count': '205',...|['2947877', '9191...|         6843|
| 118217|        Miss America|History/Biography|[{'author_id': '8...|              Harper|          3.71|          1996.0|[{'count': '429',...|['13198', '811050...|         1685|
| 146070|The Girls Who Wen...|History/Biography|[{'author_id': '6...|                null|          4.14|            null|[{'count': '1464'...|['531316', '67654...|          277|
|  24312|The Best Is Yet t...|         Children|[{'author_id': '1...|    Turtleback Books|          4.05|          2004.0|[{'count': '202',...|['627848', '17116...|          455|
|  24687|Don't Let's Go to...|History/Biography|[{'author_id': '1...|Random House Trad...|          3.96|          2003.0|[{'count': '5507'...|['6449208', '2314...|        39718|
| 257152|Finder, Volume 2:...|           Comics|[{'author_id': '1...|        Be Beautiful|          4.44|          2001.0|[{'count': '439',...|['4161072', '8315...|         1780|
|   7673|  Eaters of the Dead|History/Biography|[{'author_id': '5...|                null|          3.64|            null|[{'count': '8285'...|['19161908', '104...|        25262|
|   8285|A Little House Bi...|         Children|[{'author_id': '5...|       HarperCollins|           4.1|          1998.0|[{'count': '154',...|['1444195', '3348...|          388|
|  21337|Prodigal Son (Dea...|          Fantasy|[{'author_id': '9...|                null|          4.01|            null|[{'count': '1502'...|['1850178', '4673...|        26247|
|    289|The Beloved: Refl...|           Poetry|[{'author_id': '6...|       Penguin Books|          4.18|          1998.0|[{'count': '441',...|['21406569', '272...|          300|
|  55176|Careless Love: Th...|History/Biography|[{'author_id': '4...|      Back Bay Books|   sensitivity|          2000.0|               music| Careless Loveis ...|         2318|
|  62027|                Jazz|           Poetry|[{'author_id': '1...|       Holiday House|          4.13|          2006.0|[{'count': '399',...|['1394477', '6198...|          503|
|  87976|The Tower Treasur...|         Children|[{'author_id': '1...|     Applewood Books|          3.89|          1991.0|[{'count': '127',...|['157047', '18310...|        10131|
|  21348|      Aesop's Fables|         Children|[{'author_id': '1...|Oxford University...|          4.05|          2003.0|[{'count': '34076...|['22917', '46306'...|        89588|
|  39031|The Cabinet of Cu...|          Mystery|[{'author_id': '1...|        Warner Books|          4.26|          2003.0|[{'count': '4084'...|['18416', '294043...|        29529|
|   6539|The Body Farm (Ka...|          Mystery|[{'author_id': '1...|             Berkley|          4.04|          2004.0|[{'count': '2144'...|['181116', '64397...|        51671|
|    871|Fullmetal Alchemi...|           Comics|[{'author_id': '4...|       VIZ Media LLC|          4.55|          2005.0|[{'count': '1303'...|['13728', '294974...|         8833|
| 100582|Strangers in Para...|           Comics|[{'author_id': '8...|     Abstract Studio|          4.28|          1997.0|[{'count': '89', ...|['422954', '74352...|          709|
| 128609|Harry Cat's Pet P...|         Children|[{'author_id': '1...|            Yearling|          4.07|          1975.0|[{'count': '207',...|['460620', '36459...|          425|
|  19189|    Poems, 1965-1975|           Poetry|[{'author_id': '2...|Farrar, Straus an...|          4.24|          1981.0|[{'count': '127',...|['131032', '10517...|          269|
|  22425|Transmetropolitan...|           Comics|[{'author_id': '1...|             Vertigo|          4.45|          2003.0|[{'count': '1527'...|['22357', '102954...|         9320|
|  27502|War Is a Force Th...|History/Biography|[{'author_id': '1...|                null|          4.15|            null|[{'count': '216',...|['187655', '4360'...|         4049|
| 648052|     Collected Poems|           Poetry|[{'author_id': '3...|Farrar, Straus an...|          4.51|          1995.0|[{'count': '276',...|['250397', '40509...|          292|
|   6534|Postmortem (Kay S...|          Mystery|[{'author_id': '1...|        Pocket Books|          4.01|          2003.0|[{'count': '10688...|['128752', '85425...|       170061|
+-------+--------------------+-----------------+--------------------+--------------------+--------------+----------------+--------------------+--------------------+-------------+

In [230]:
rec_2 = books.filter(books["book_id"].isin(d[17077]))
rec_2.show()

+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+
|book_id|               title|            genre|             authors|         publisher|average_rating|publication_year|     popular_shelves|       similar_books|ratings_count|
+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+
| 816582|If I Had You (de ...|History/Biography|[{'author_id': '1...|Berkley Publishing|           4.2|          2000.0|[{'count': '649',...|['50742', '121591...|         1914|
| 864758|Knocked Out by My...|      Young Adult|[{'author_id': '6...|    Harper Collins|          3.97|          2006.0|[{'count': '6704'...|['405838', '51618...|          957|
| 864757|'... then he ate ...|      Young Adult|[{'author_id': '6...|              null|          4.09|            null|[{'count': '2007'...|['8013391', '9152...|          282|
| 258334|Magician: Master ...|          Fantasy|[{'author_id': '8...|     Spectra Books|          4.25|          1986.0|[{'count': '9533'...|['8320534', '1847...|          227|
| 397183|Decisions (Sweet ...|      Young Adult|[{'author_id': '2...|      Bantam Books|          3.37|          1988.0|[{'count': '220',...|['1044854', '8504...|          440|
+-------+--------------------+-----------------+--------------------+------------------+--------------+----------------+--------------------+--------------------+-------------+

In [231]:
user2_books = [x[0] for x in interactions.filter(interactions.user_id == 17077).select('book_id').collect()]
user2 = books.filter(books["book_id"].isin(user2_books))
user2.show(100)

+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+
|book_id|               title|            genre|             authors|           publisher|      average_rating|    publication_year|     popular_shelves|       similar_books|ratings_count|
+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+
|  14654|Encyclopedia Brow...|         Children|[{'author_id': '9...|            Yearling|                4.04|              2000.0|[{'count': '303',...|['363271', '51071...|         3043|
|   1496|  Iphigenia in Aulis|           Poetry|[{'author_id': '9...|Ivan R. Dee Publi...|                3.99|              1997.0|[{'count': '104',...|['237794', '76170...|         2211|
|  16320|Witness for the P...|          Mystery|[{'author_id': '1...|HarperCollins Pub...|                4.05|              1995.0|[{'count': '1817'...|                  []|         3768|
|  20508|Kill the Messenge...|History/Biography|[{'author_id': '1...|                null|                3.68|                null|[{'count': '640',...|['455652', '14376...|          246|
|  29943|The Incognito Lounge|           Poetry|[{'author_id': '6...|                null|                4.27|                null|[{'count': '341',...|['10858542', '268...|          311|
|    586|Art of Modern Roc...|           Comics|[{'author_id': '3...|     Chronicle Books|                4.11|              2004.0|[{'count': '722',...|['257999', '67124...|         1086|
|  77730|Weirdos from Anot...|           Comics|[{'author_id': '1...|Andrews McMeel Pu...|                4.71|              1990.0|[{'count': '575',...|['899856', '52096...|         9441|
|  24307|The Pen Is Mighti...|         Children|[{'author_id': '1...|Scholastic Paperb...|                3.96|              2001.0|[{'count': '19', ...|['549455', '457424']|         1036|
|    484|Reinventing the E...|           Poetry|[{'author_id': '2...|W. W. Norton  Com...|                4.38|              1998.0|[{'count': '710',...|['112217', '50564...|          223|
| 646460|Claudia's Friend ...|         Children|[{'author_id': '2...|          Scholastic|                 3.6|              1993.0|[{'count': '272',...| ['33282', '664147']|          649|
|  94739|    An American Brat|      Young Adult|[{'author_id': '2...|   Milkweed Editions|                3.28|              2006.0|[{'count': '543',...|['290382', '48333...|          691|
| 105648|Smart Boys & Fast...|      Young Adult|[{'author_id': '6...|       Leisure Books|                3.76|              2005.0|[{'count': '523',...|['1078638', '8608...|          981|
| 139781|Twentieth Century...|           Poetry|[{'author_id': '3...|                Ecco|                4.31|              2000.0|[{'count': '254',...|['80992', '440025...|          224|
| 160959|The Rape of the L...|           Poetry|[{'author_id': '2...|     IndyPublish.com|                3.62|              2005.0|[{'count': '180',...|['173781', '44900...|          542|
|  16298|A Murder Is Annou...|          Mystery|[{'author_id': '1...|Black Dog & Leven...|                3.96|              2006.0|[{'count': '1694'...|['93575', '280849...|        26502|
| 183995|      My Friend Bear|         Children|[{'author_id': '1...|             Walker,|                4.04|              2004.0|[{'count': '109',...|['320749', '72658...|          250|
| 193792|Do You Promise No...|          Mystery|[{'author_id': '4...|St. Martin's Pape...|                3.86|              2005.0|[{'count': '441',...|['170255', '69852...|          661|
|  42714|The Giggler Treat...|         Children|[{'author_id': '1...|    Scholastic, Inc.|                4.16|              2001.0|[{'count': '544',...|['1477647', '8381...|         1232|
|  68582|The Green Pearl (...|          Fantasy|[{'author_id': '5...|     Underwood Books|                4.16|              1985.0|[{'count': '904',...|['3689171', '1022...|         1665|
|   8227|Winter Days in th...|         Children|[{'author_id': '5...|       HarperCollins|                4.27|              1995.0|[{'count': '359',...|['1371962', '1030...|         1287|
| 830613|One Hundred and O...|         Children|[{'author_id': '3...|       Gallery Books|                4.23|              1989.0|[{'count': '67', ...|['644990', '12982...|         1322|
| 129898|Lancelot: The Kni...|           Poetry|[{'author_id': '2...|Yale University P...|                3.68|              1997.0|[{'count': '851',...|['129768', '93280...|         1053|
| 150354| The Collected Poems|           Poetry|[{'author_id': '7...|               Knopf|                3.98|              2005.0|[{'count': '4459'...|['11737010', '160...|          757|
|  16297|Cards on the Tabl...|          Mystery|[{'author_id': '1...|             Berkley|                 3.9|              2005.0|[{'count': '488',...|['660252', '19288...|        20080|
|    290| Different Like Coco|             null|    Candlewick Press|                40.0| showing just how...|https://www.goodr...|         comfortable|         and flair."|       412464|
|  76404|Going Postal (Dis...|             null|         HarperTorch|               394.0|                 and|https://www.goodr...|        get the girl| even golem) requ...|      1636617|
|   7904|Betsy-Tacy and Ti...|         Children|[{'author_id': '5...|Thomas Y. Crowell...|                4.18|              1941.0|[{'count': '1808'...|['7925', '7902', ...|         8229|
| 108137|               Poems|           Poetry|[{'author_id': '7...|           Shambhala|                4.24|              2009.0|[{'count': '2997'...|['138172', '40350...|         1886|
|  19910|Master of Wolves ...|          Fantasy|[{'author_id': '2...|             Berkley|                4.17|              2006.0|[{'count': '1249'...|['313268', '96763...|         3618|
|  24312|The Best Is Yet t...|         Children|[{'author_id': '1...|    Turtleback Books|                4.05|              2004.0|[{'count': '202',...|['627848', '17116...|          455|
|  48862|       Brighton Rock|          Mystery|[{'author_id': '2...|    Vintage Classics|                3.72|              2004.0|[{'count': '9853'...|['133238', '15053...|        14218|
| 752713|The Seven Against...|           Poetry|[{'author_id': '9...|  Dover Publications|                 3.7|              2000.0|[{'count': '367',...|['993747', '43755...|         1070|
|  13119|The Dark Side Of ...|History/Biography|[{'author_id': '8...|       Da Capo Press|                3.81|              1999.0|[{'count': '223',...|['15081', '80135'...|          851|
|  14660|Encyclopedia Brow...|         Children|[{'author_id': '9...|            Yearling|                4.03|              2005.0|[{'count': '161',...|['399596', '25041...|          270|
|  19585|Houses Without Doors|          Mystery|[{'author_id': '6...|                null|                3.76|                null|[{'count': '2607'...|['1597650', '3246...|         1815|
|  73073|The Marcelli Prin...|          Romance|[{'author_id': '8...|                null|                3.84|                null|[{'count': '991',...|['7943070', '2079...|         1781|
| 118494|The Mark of the A...|          Mystery|[{'author_id': '2...| Penguin Group (USA)|                4.05|              1998.0|[{'count': '2832'...|['1765922', '7861...|         5452|
|  24058|The Zucchini Warr...|         Children|[{'author_id': '2...|          Scholastic|                 4.0|              1991.0|[{'count': '192',...|['1453205', '4620...|         1060|
|  24236|Boys in Control (...|         Children|[{'author_id': '1...|            Yearling|                4.05|              2005.0|[{'count': '189',...|['15803093', '290...|          488|
| 333521|The Prince of Ten...|           Comics|[{'author_id': '4...|       VIZ Media LLC|                4.19|              2007.0|[{'count': '67', ...|['1993619', '1266...|          397|
|  22425|Transmetropolitan...|           Comics|[{'author_id': '1...|             Vertigo|                4.45|              2003.0|[{'count': '1527'...|['22357', '102954...|         9320|
| 294966|Rurouni Kenshin, ...|           Comics|[{'author_id': '1...|       VIZ Media LLC|                4.36|              2003.0|[{'count': '610',...|['41342', '116169...|         3865|
|  42040|Love Poems and So...|           Poetry|[{'author_id': '9...|     Doubleday Books|                4.23|              1957.0|[{'count': '2558'...|['160959', '15438...|         5446|
|  81557|Winter Games (Cam...|         Children|[{'author_id': '2...|    Grosset & Dunlap|                4.04|              2006.0|[{'count': '295',...|['82491', '675639...|          391|
|  81661|I Celebrate Mysel...|History/Biography|[{'author_id': '4...|                null|                4.16|                null|[{'count': '967',...|['572651', '97889...|          586|
| 830578|  A Matter Of Honour|          Mystery|[{'author_id': '4...|       Pan MacMillan|                 3.9|              2003.0|[{'count': '192',...|['149606', '32725...|          495|
+-------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+

Has read some of every genre so any recommendation would make sense really.